In [1]:
from time import time
import pandas as pd
import numpy as np
from gensim.models import KeyedVectors
import re
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

import itertools
import datetime

from keras.preprocessing.sequence import pad_sequences
from keras.models import Model
from keras.layers import Input, Embedding, LSTM, Merge
import keras.backend as K
from keras.optimizers import Adadelta
from keras.callbacks import ModelCheckpoint

Using TensorFlow backend.
/Users/mich/anaconda/envs/py36/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

In [2]:
#df_train = pd.read_pickle("./data/df_train.pkl")
#df_test = pd.read_pickle("./data/df_test.pkl")

token_train = pd.read_pickle("./data/token_train.pkl")
token_test = pd.read_pickle("./data/token_test.pkl")

#vec_train = pd.read_pickle("./data/vec_train_glove.pkl")
#vec_test = pd.read_pickle("./data/vec_test_glove.pkl")

In [3]:
token_train.head()

,id,qid1,tokenq1,qid2,tokenq2,is_duplicate
0,0,0,"[what, is, the, step, by, step, guide, to, inv...",241804,"[what, is, the, step, by, step, guide, to, inv...",0
1,1,1,"[what, is, the, story, of, kohinoor, kohinoor,...",13483,"[what, would, happen, if, the, indian, governm...",0
2,2,2,"[how, can, i, increase, the, speed, of, my, in...",241805,"[how, can, internet, speed, be, increased, by,...",0
3,3,3,"[why, am, i, mentally, very, lonely, how, can,...",241806,"[find, the, remainder, when, math, two, three,...",0
4,4,4,"[which, one, dissolve, in, water, quikly, suga...",241807,"[which, fish, would, survive, in, salt, water]",0

# Word2Vec Embedding

In [4]:
googlenews_embedding = './data/GoogleNews-vectors-negative300.bin.gz'
word2vec = KeyedVectors.load_word2vec_format(googlenews_embedding, binary=True)

vocabulary = dict()
inverse_vocabulary = ['<unk>']

In [5]:
stops = set(stopwords.words('english'))
questions = ['tokenq1', 'tokenq2']

# Iterate over the questions of both training and test datasets
for dataset in [token_train, token_test]:
    for index, row in dataset.iterrows():

        # Iterate through the text of both questions of the row
        for question in questions:

            question_to_number = []  # q2n -> question numbers representation
            for word in row[question]:

                # Check for unwanted words
                if word in stops and word not in word2vec.vocab:
                    continue

                if word not in vocabulary:
                    vocabulary[word] = len(inverse_vocabulary)
                    question_to_number.append(len(inverse_vocabulary))
                    inverse_vocabulary.append(word)
                else:
                    question_to_number.append(vocabulary[word])

            # Replace questions as word to question as number representation
            dataset.set_value(index, question, question_to_number)

/Users/mich/anaconda/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:26: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [6]:
token_train.head()

,id,qid1,tokenq1,qid2,tokenq2,is_duplicate
0,0,0,"[1, 2, 3, 4, 5, 4, 6, 7, 8, 9, 10, 8, 11]",241804,"[1, 2, 3, 4, 5, 4, 6, 7, 8, 9, 10]",0
1,1,1,"[1, 2, 3, 12, 13, 13, 14]",13483,"[1, 15, 16, 17, 3, 18, 19, 20, 3, 13, 13, 14, 21]",0
2,2,2,"[22, 23, 24, 25, 3, 26, 27, 28, 29, 30, 31, 32]",241805,"[22, 23, 28, 26, 33, 34, 5, 35, 36, 37]",0
3,3,3,"[38, 39, 24, 40, 41, 42, 22, 23, 24, 43, 44]",241806,"[45, 3, 46, 47, 48, 49, 50, 49, 51, 48, 2, 52,...",0
4,4,4,"[53, 54, 55, 8, 56, 57, 58, 59, 60, 61, 62, 63]",241807,"[53, 64, 15, 65, 8, 59, 56]",0

In [7]:
# Build the embedding matrix
embedding_dim = 300
embeddings = 1 * np.random.randn(len(vocabulary) + 1, embedding_dim)  # This will be the embedding matrix
embeddings[0] = 0  # So that the padding will be ignored

for word, index in vocabulary.items():
    if word in word2vec.vocab:
        embeddings[index] = word2vec.word_vec(word)

del word2vec

# Prepare training and validation data

In [8]:
# split to train validation
validation_size = 40000
training_size = len(token_train) - validation_size

question_cols = token_train[['tokenq1', 'tokenq2']]
duplicate = token_train['is_duplicate']

X_train, X_validation, Y_train, Y_validation = train_test_split(question_cols, duplicate, test_size=validation_size)

# Split to dicts
X_train = {'left': X_train.tokenq1, 'right': X_train.tokenq2}
X_validation = {'left': X_validation.tokenq1, 'right': X_validation.tokenq2}
X_test = {'left': token_test.tokenq1, 'right': token_test.tokenq1}

In [9]:
# Convert labels to their numpy representations
Y_train = Y_train.values
Y_validation = Y_validation.values

In [17]:
X_train

{'left': 8199      [47, 269, 4349, 6503, 33, 3103, 108, 3, 3045, ...
 190158    [1, 2, 3, 11927, 2616, 38, 2, 123, 2459, 8, 26...
 31079        [373, 2, 3139, 3, 1593, 1594, 1184, 286, 1075]
 212430         [22, 94, 24, 2312, 3, 3147, 615, 7001, 6116]
 123395                    [38, 2, 169, 167, 215, 754, 1184]
 55780                       [1, 115, 116, 8100, 1231, 1658]
 44940     [1, 2, 3, 699, 3089, 108, 31, 1924, 8755, 1983...
 133108                         [22, 115, 2406, 1313, 8, 11]
 295125                       [230, 3, 180, 1812, 8, 3, 689]
 129193                              [1, 115, 3, 2103, 3179]
 251345                              [22, 81, 177, 976, 316]
 64872                  [1, 2, 3, 180, 219, 1361, 159, 4084]
 143778               [2, 3, 58488, 6558, 574, 3, 95, 24946]
 282046                   [22, 23, 24, 5515, 675, 175, 4055]
 43502     [22, 1107, 139, 8025, 17394, 115, 1001, 250, 4...
 120147    [38, 94, 1990, 8, 3, 147, 36512, 97, 13949, 19...
 11715                 [53, 2, 3, 180, 431, 108, 2566, 5274]
 42062               [22, 23, 6123, 32024, 19982, 135, 8763]
 167345    [1, 2, 44, 159, 80, 24277, 13022, 370, 12918, ...
 161363    [439, 23, 24, 315, 1351, 1797, 8, 2442, 108, 1...
 220433                    [22, 23, 305, 1811, 3, 689, 4201]
 65431                  [22, 72, 1969, 1967, 141, 658, 4254]
 248129       [22, 81, 24, 222, 108, 3809, 49, 107, 54, 627]
 172966                       [22, 94, 24, 1239, 3094, 3015]
 76408     [1, 115, 3, 1895, 6081, 1157, 7911, 1485, 15, ...
 72111     [1, 115, 3, 1076, 2995, 3, 3593, 456, 11, 8, 3...
 48090              [1, 4069, 12702, 6081, 115, 1477, 27753]
 710                [2312, 73, 3051, 1903, 3051, 3052, 3053]
 101096       [1, 2, 288, 15428, 1394, 2, 44, 718, 26, 1394]
 119733    [1, 75, 903, 1266, 2137, 635, 8, 958, 439, 821...
                                 ...
 97247     [2300, 1, 2512, 17, 466, 72, 3, 3474, 48289, 4...
 306257    [22, 72, 102, 8, 151, 3882, 159, 288, 4950, 54...
 265898    [1, 2, 3, 1895, 248, 449, 566, 366, 4192, 431,...
 117854            [23, 24, 94, 223, 164, 5426, 2777, 8, 11]
 101045                [22, 94, 24, 15838, 108, 2295, 19694]
 175126    [22, 168, 2269, 11086, 64283, 1670, 27067, 300...
 41603                       [38, 94, 116, 177, 9360, 21750]
 270542                   [1, 115, 116, 602, 512, 794, 8096]
 229413    [22, 8195, 2, 3, 1560, 1204, 780, 8, 5153, 120...
 249195       [22, 94, 24, 649, 27, 2841, 989, 3960, 8, 503]
 44106                             [38, 94, 305, 1750, 1912]
 173324                    [47, 72, 2826, 287, 3, 352, 2826]
 31105               [421, 3, 4504, 10683, 276, 4810, 10684]
 131878    [230, 3, 602, 1504, 38, 116, 708, 139, 2067, 783]
 21719     [72, 3, 4271, 362, 7141, 8, 1204, 2312, 1082, ...
 116649    [38, 274, 3, 3070, 3071, 580, 4165, 4298, 3067...
 105707                       [72, 962, 2930, 1971, 8, 2743]
 88165                             [46035, 7008, 7536, 3643]
 276018              [1, 115, 3, 2182, 11765, 4336, 8, 2107]
 64403                     [22, 94, 24, 133, 2818, 8, 11152]
 33162                  [1, 115, 3, 815, 96, 2106, 1183, 38]
 35456     [22, 115, 865, 841, 88, 3132, 3133, 487, 33, 3...
 39415     [2111, 4654, 12707, 192, 6434, 1017, 1770, 555...
 16422            [22, 94, 24, 4409, 503, 652, 416, 89, 362]
 297954                       [269, 11, 8988, 637, 754, 807]
 254243    [1, 115, 116, 794, 676, 14186, 578, 8, 3380, 512]
 128236    [1, 94, 96, 267, 2, 3, 1779, 8509, 108, 3, 111...
 13626                 [1, 94, 96, 267, 2, 3, 9726, 80, 857]
 128304        [1, 2, 3, 768, 3, 1508, 5617, 175, 123, 4007]
 249391    [2, 530, 602, 1067, 3504, 3, 195, 2685, 905, 4...
 Name: tokenq1, Length: 283162, dtype: object,
 'right': 8199      [732, 1683, 1357, 812, 11, 3730, 175, 293, 306...
 190158                [1, 2, 3, 216, 11927, 2616, 2623, 38]
 31079     [373, 269, 1265, 3, 49, 107, 54, 628, 252, 253...
 212430    [4114, 2, 288, 70676, 6544, 4620, 18071, 115, ...
 123395                             [38, 2, 169, 167, 19660]
 55780                 [1, 115, 116, 119, 23665, 1231, 1658]
 44940     [1, 115, 3, 180, 3698, 33070, 108, 97, 584, 19...
 133108                        [115, 275, 2406, 1313, 8, 11]
 295125                  [1, 134, 135, 180, 1812, 8, 3, 689]
 129193                               [1, 115, 3, 427, 3179]
 251345                                   [22, 81, 177, 976]
 64872                  [22, 72, 54, 1361, 159, 19741, 2642]
 143778              [2, 58488, 6558, 574, 1115, 8084, 1452]
 282046               [22, 23, 24, 25, 3, 675, 175, 27, 891]
 43502     [22, 1107, 139, 8025, 17394, 250, 19793, 1457,...
 120147          [38, 94, 187, 3, 147, 1990, 97, 53657, 809]
 11715              [53, 115, 3, 180, 1213, 108, 2566, 5274]
 42062                   [72, 6123, 32024, 19982, 135, 8763]
 167345    [1, 2, 3, 763, 80, 12918, 220, 315, 141, 164, ...
 161363    [439, 23, 24, 315, 1351, 1797, 8, 2442, 2428, ...
 220433                                [81, 4201, 33, 37787]
 65431             [1, 1069, 72, 1969, 4735, 421, 175, 4254]
 248129    [22, 81, 24, 222, 108, 3809, 8541, 49, 107, 54...
 172966                      [22, 23, 305, 1239, 3094, 3015]
 76408        [38, 15, 237, 886, 88, 1157, 1053, 3050, 2711]
 72111     [38, 11, 2, 167, 434, 192, 3715, 2, 44, 259, 1...
 48090             [1, 115, 3, 248, 1253, 3880, 12702, 6081]
 710       [94, 96, 315, 3021, 47, 96, 94, 3054, 3055, 17...
 101096    [22, 23, 24, 1466, 116, 1095, 2345, 26, 1394, ...
 119733                          [1, 513, 28336, 958, 11282]
                                 ...
 97247      [2, 275, 466, 2488, 558, 2300, 11899, 357, 1183]
 306257    [53, 2, 3, 136, 102, 421, 2141, 1014, 2425, 1452]
 265898                 [1, 2, 3, 566, 366, 4192, 4192, 146]
 117854                   [23, 24, 94, 223, 164, 5426, 2777]
 101045                 [22, 23, 24, 1361, 159, 2295, 19694]
 175126    [2, 2131, 1287, 132, 286, 221, 22784, 229, 108...
 41603                            [38, 94, 177, 9360, 21750]
 270542       [230, 3, 180, 602, 512, 8096, 393, 394, 40434]
 229413    [81, 24, 1409, 3, 48, 447, 1204, 384, 192, 148...
 249195           [22, 94, 24, 649, 2841, 989, 3960, 8, 503]
 44106              [38, 115, 3, 8806, 108, 1912, 167, 4534]
 173324                       [47, 72, 2826, 287, 352, 2826]
 31105         [274, 3, 4504, 14529, 3427, 276, 4810, 10684]
 131878    [2, 44, 1948, 108, 782, 783, 33, 6967, 6977, 2...
 21719     [44, 274, 276, 304, 73, 1543, 2, 394, 5501, 8,...
 116649    [1, 1882, 1948, 159, 3067, 3068, 460, 3070, 24...
 105707    [38, 72, 50324, 50325, 50326, 421, 288, 19761,...
 88165     [1, 15, 33, 3, 180, 2857, 742, 40428, 10244, 1...
 276018               [2, 44, 454, 20342, 288, 5593, 8, 190]
 64403              [1, 2, 3, 180, 219, 133, 2818, 8, 11152]
 33162     [1, 115, 3, 815, 96, 2106, 1183, 1993, 248, 45...
 35456     [1, 269, 16, 865, 841, 8, 3, 147, 17, 1595, 11...
 39415     [1, 115, 474, 3974, 3959, 11984, 3338, 2504, 8...
 16422     [22, 23, 24, 649, 27, 503, 652, 416, 5560, 89,...
 297954    [81, 11, 8988, 637, 754, 807, 460, 148, 115, 1...
 254243         [1, 115, 116, 794, 9070, 1741, 8, 3380, 512]
 128236                          [373, 2, 3, 1779, 8509, 11]
 13626                              [1, 2, 3, 9726, 27, 857]
 128304           [1, 2, 3, 768, 4648, 5617, 424, 123, 4007]
 249391    [2, 530, 602, 1067, 3504, 3, 195, 2685, 905, 4...
 Name: tokenq2, Length: 283162, dtype: object}

In [21]:
#max_seq_length = max(token_train.tokenq1.map(lambda x: len(x)).max(),
#                     token_train.tokenq2.map(lambda x: len(x)).max(),
#                     token_test.tokenq1.map(lambda x: len(x)).max(),
#                     token_test.tokenq2.map(lambda x: len(x)).max())
max_seq_length = 30

In [22]:
# Zero padding
for dataset, side in itertools.product([X_train, X_validation], ['left', 'right']):
    dataset[side] = pad_sequences(dataset[side], maxlen=max_seq_length)

In [24]:
X_train

{'left': array([[   0,    0,    0, ...,  628,   49,   51],
        [   0,    0,    0, ..., 2623, 2616,  449],
        [   0,    0,    0, ..., 1184,  286, 1075],
        ...,
        [   0,    0,    0, ..., 9726,   80,  857],
        [   0,    0,    0, ...,  175,  123, 4007],
        [   0,    0,    0, ..., 8039,  602, 1067]], dtype=int32),
 'right': array([[    0,     0,   732, ...,   466,  3629, 13625],
        [    0,     0,     0, ...,  2616,  2623,    38],
        [    0,     0,     0, ...,  1184,   286,  1075],
        ...,
        [    0,     0,     0, ...,  9726,    27,   857],
        [    0,     0,     0, ...,   424,   123,  4007],
        [    0,     0,     0, ...,  1067,     8,  6954]], dtype=int32)}

In [25]:
# TEST
assert X_train['left'].shape == X_train['right'].shape
assert len(X_train['left']) == len(Y_train)

# Building the model

In [28]:
#n_hidden = 50
n_hidden = 1
gradient_clipping_norm = 1.25
#batch_size = 64
batch_size = 1
#n_epoch = 25
n_epoch = 10

In [29]:
# MaLSTM similarity function
def exponent_neg_manhattan_distance(left, right):
    ''' Helper function for the similarity estimate of the LSTMs outputs'''
    return K.exp(-K.sum(K.abs(left-right), axis=1, keepdims=True))

In [30]:
# The visible layer
left_input = Input(shape=(max_seq_length,), dtype='int32')
right_input = Input(shape=(max_seq_length,), dtype='int32')

embedding_layer = Embedding(len(embeddings), embedding_dim, weights=[embeddings], input_length=max_seq_length, trainable=False)

# Embedded version of the inputs
encoded_left = embedding_layer(left_input)
encoded_right = embedding_layer(right_input)

# Since this is a siamese network, both sides share the same LSTM
shared_lstm = LSTM(n_hidden)

left_output = shared_lstm(encoded_left)
right_output = shared_lstm(encoded_right)

In [31]:
# Calculates the distance as defined by the MaLSTM model
malstm_distance = Merge(mode=lambda x: exponent_neg_manhattan_distance(x[0], x[1]), output_shape=lambda x: (x[0][0], 1))([left_output, right_output])

/Users/mich/anaconda/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: The `Merge` layer is deprecated and will be removed after 08/2017. Use instead layers from `keras.layers.merge`, e.g. `add`, `concatenate`, etc.

In [32]:
# Pack it all up into a model
malstm = Model([left_input, right_input], [malstm_distance])

In [33]:
# Adadelta optimizer, with gradient clipping by norm
optimizer = Adadelta(clipnorm=gradient_clipping_norm)

malstm.compile(loss='mean_squared_error', optimizer=optimizer, metrics=['accuracy'])

In [ ]:
# Start training
training_start_time = time()

malstm_trained = malstm.fit([X_train['left'], X_train['right']], Y_train, batch_size=batch_size, epochs=n_epoch,
                            validation_data=([X_validation['left'], X_validation['right']], Y_validation), validation_split = 0.2)

print("Training time finished.\n{} epochs in {}".format(n_epoch, datetime.timedelta(seconds=time()-training_start_time)))

# Plotting results

In [ ]:
# Plot accuracy
plt.plot(malstm_trained.history['acc'])
plt.plot(malstm_trained.history['val_acc'])
plt.title('Model Accuracy')
plt.ylabel('Accuracy')
plt.xlabel('Epoch')
plt.legend(['Train', 'Validation'], loc='upper left')
plt.show()

# Plot loss
plt.plot(malstm_trained.history['loss'])
plt.plot(malstm_trained.history['val_loss'])
plt.title('Model Loss')
plt.ylabel('Loss')
plt.xlabel('Epoch')
plt.legend(['Train', 'Validation'], loc='upper right')
plt.show()